<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="home.scss">
		<title>Bookers</title>
	</head>
	<body>
		<div class="top-wrapper">
			<h1 class="top-title">ようこそBookersへ！</h1>
			<p class="top-text"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や印象を<br>共有し交換することができます</p>
			<div class="to-index-link"><%= link_to "START", "/posts/index",:style=>"color:orange;", class: "post_index" %></div>
		</div>
	</body>
</html>