.posts-wrapper {
	width:90%;
	margin: 0 auto;
	padding-top:20px;
}

.posts-index{
	padding: 0 0 30px 0;
}

.index-title {
	padding:20px 0;
}

thead > tr > th {
	padding-bottom: 10px;
}

tbody > tr > td {
	padding-bottom: 5px;
}

.new-title {
	padding:20px 0;
}

.book-title {
	padding-bottom: 20px;
}

h4 {
	padding-bottom:5px;
}