.show-wrapper {
	width:90%;
	margin: 0 auto;
	padding-top:20px;
}

.show-title {
	padding:20px 0;
}

.book-title {
	padding-bottom: 20px;
}

h4 {
	padding-bottom:5px;
}

.from-show-links {
	font-size: 15px;
	padding: 20px;
}